<!DOCTYPE html>
<html lang="en" xmls:th="http://thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello from ZenTravels!</title>
    <link rel="stylesheet" href="/styles/StylesMain.css">
</head>
<body>
<div class="header">
    Hello from ZenTravels!
    <a href="/logout" class="logout">Выход</a>
    <a id="clock"></a>
</div>
<div class="main">
    <div class="text">
        Дзен - это искусство обретения внутреннего равновесия, мудрости и гармонии.
        Погрузитесь в мир просветления, откройте для себя путь к истинному счастью и покою в каждом мгновении жизни.
        Встречайте свой внутренний мир с открытым сердцем и умиротворенным умом,а подобрать самое комфортное место вам
        поможет Дзен-Путешествие(Zen Travel).
        <br>
        Наш сервис предлагает уникальную возможность подобрать лучшее место для отдыха, учитывая ваши предпочтения по
        температуре воздуха и воды, сезону, а также наличию гор или моря.
        Мы учитываем все эти факторы, чтобы предложить вам идеальное место, где вы сможете насладиться отдыхом
        по-настоящему.
        <br>
        Если вы предпочитаете теплый климат и живописные пляжи, мы поможем вам найти место с теплой водой и солнечными
        днями круглый год.
        Если же вы любите горы и прохладный воздух, мы подберем для вас уютные горные курорты с чистым воздухом и
        потрясающими видами.
        <br>
        Мы также учитываем сезонность и предлагаем вам оптимальные варианты в зависимости от времени года.
        Благодаря нашему сервису вы сможете выбрать идеальное место для отдыха, соответствующее вашим внутренним
        ощущениям.
        <br>
        Наш сервис также отлично подходит для тех, кто хочет открыть для себя новые удивительные места, о которых ранее
        не задумывался.
        Не упустите шанс отправиться в увлекательное путешествие и открыть для себя мир во всей его красе!

    </div>
    <div class="box">
        <button><a href="/registration">Регистрация</a></button>
        <button><a href="/login">Войти в аккаунт</a></button>
    </div>
</div>

</body>
<script src="/scripts/Clock.js"></script>
</html>