.header {
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: "Agency FB", sans-serif;
    font-size: xxx-large;
    background-color: #5acccc;
    font-style: oblique;
    letter-spacing: 5px;
    margin: 20px;
    padding: 10px;
}
.main {
    height: 600px;
    align-content: center;
    /*font-family: "Agency FB", sans-serif;*/
    font-family: "Gill Sans", serif;
    text-align: center;
}
body {
    align-content: center;
}
.logout {
    /*margin: 5px;*/
    /*padding: 5px;*/
    /*border: #BFC0C0 solid 3px;*/
    /*border-radius: 5px;*/
    /*background-color: rgba(135, 143, 143, 0.87);*/
    /*translate: 90%;*/
    font-family: "Agency FB", sans-serif;
    font-size: small;
    font-style: oblique;

}
.box {
    height: auto;
    width: auto;
    border: rgba(4, 100, 100, 0.61) solid 2px;
    background: rgba(253, 255, 255, 0.52);
    border-radius: 10px;
    margin: 20px;
    padding: 50px;
    display: inline-block;
    text-align: left;
    font-family: "Gill Sans", serif;
    font-size: medium;
}
#result {
    height: auto;
    width: 500px;
    font-family: "Gill Sans", serif;
    letter-spacing: 2px;
    font-size: large;
}
span {
    font-family: "Gill Sans", serif;
    font-size: small;
}
.info {
    display: inline-block;
    /*font-family: "Gill Sans", serif;*/
    /*font-size: medium;*/
}
button {
    display: inline-flex;
    height: 40px;
    width: 200px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    place-content: center;
}

button a {
    position: relative;
    transition: all .45s ease-Out;
}

.circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    background: #BFC0C0;
    position: absolute;
    transition: all .5s ease-Out;
    top: 20px;
    left: 70px;
}

button:hover .circle {
    width: 200%;
    height: 500%;
    opacity: 1;
    top: -70px;
    left: -70px;
}

button:hover a {
    color: #2D3142;
}
body {
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1613461893_25-p-fon-dlya-prezentatsii-pro-zapovedniki-25.jpg");
    background-size: 1800px 900px;

}
#clock {
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.info > img {
    width: 30px;
    height: 30px;
    padding: 3px;
    vertical-align: middle;
}
h2 > img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}
.test {
    align-content: center;
    font-family: "Gill Sans", serif;
    margin: 30px;
    padding: 30px;
    letter-spacing: 2px;
    font-size: large;
    border: 2px solid rgba(57, 105, 107, 0.76);
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.65);
    display: inline-block;
}
.test > input,select {
    margin: 5px;
    /*padding: 5px;*/
}
select {
    font: medium 'Muli', sans-serif;
    color: #333;
    width: 150px;
    box-sizing: border-box;
    letter-spacing: 1px;
    margin: 5px;
    padding: 5px
}
#button {
    height: 40px;
    width: 200px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    align-content: center;
}
#button:hover {
    color: #727171;
}